




<div class="container marketing mod-margin">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="images/case-1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Residential cases</h2>
            <p>No matter how much the budget, everyone should have a first-rate house. Here are some ideas to save money and energy to make this versatile space meet all of your needs.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="images/case-2.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h2>Office cases</h2>
            <p>Work, meet, and socialize in the same space. Today's office space is different. Home design helps you create unique multi-functional collaborative space.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="images/case-3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Store case</h2>
            <p>A successful store should be a perfect blend of presentation solutions, storage objects, lighting, workspaces, and all other elements. Here, you can definitely find the products and ideas that will build your ideal retail space.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Create a living room for friends</h2>
            <p class="lead">What kind of home has a magnetic field that attracts friends? Warm, pleasant, freewheeling home? We have been careful to build a comfortable and flexible little living room. Come and see it!</p>
        </div>
        <div class="col-md-5">
            <a href=""><img class="featurette-image img-responsive center-block" src="images/show-1.jpg" alt="Generic placeholder image"></a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Small studio apartment inspired</h2>
            <p class="lead">How to make 15 square meters of space have comfortable sleep area, recreational relaxation area, cooking area and dining area? The Swedish designer duo JOPIA took on the challenge. What was the end result? They showed a small, dainty apartment that smelled of industry!</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <a href=""><img class="featurette-image img-responsive center-block" src="images/show-2.jpg" alt="Generic placeholder image"></a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">How to design an ergonomic workspace</h2>
            <p class="lead">Do you feel it? Neck cramp, pain in the waist? This is probably not the way you use office space. We can't guarantee less time to work, but it can help build a relaxed office space that will reduce your work fatigue.</p>
        </div>
        <div class="col-md-5">
            <a href=""><img class="featurette-image img-responsive center-block" src="images/show-3.jpg" alt="Generic placeholder image"></a>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <p class="pull-right" id="to_back"><a href="#"><img src="images/top.png" alt=""></a></p>
</div>